<!-- <app-child></app-child>

<app-counter></app-counter> -->
<app-dashboard></app-dashboard>
<!-- <h1>Hello</h1>

<button (click)="isVisible = !isVisible">Click Here</button>
<div *ngIf="isVisible">
  <p>Angular Sessions</p>
</div>

<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>

<select [(ngModel)]="role">
  <option value="admin">Admin</option>
  <option value="user">User</option>
</select>
<div [ngSwitch]="role">
  <p *ngSwitchCase="'admin'">Welcom! Admin</p>
  <p *ngSwitchCase="'user'">Welcome! User</p>
  <p *ngSwitchDefault>No access</p>
</div>  -->


<!-- <form>
  <div>
    <label for="name">Name</label>
    <input class="i" type="text" id="name" [(ngModel)]="Name" name="name"/>
  </div>

  <div>
    <label for="subject">Subject</label>
    <input class="i" type="text" id="subject" [(ngModel)]="Subject" name="subject"/>
  </div>

  <div>
    <label for="score1">TestScore-1</label>
    <input class="i" type="number" id="score1" [(ngModel)]="testScore1" name="score1"/>
  </div>

  <div>
    <label for="score2">TestScore-2</label>
    <input class="i" type="number" id="score2" [(ngModel)]="testScore2" name="score2"/>
  </div>
</form>

<button (click)="greeting()">SUBMIT</button>
<p *ngIf="outputMessage">{{ outputMessage }}</p> -->
 


