<div class="navbar">
  <div class="logo">
    <span class="brand-name">Sonic Mart</span>
  </div>

  <div class="nav-center">
    <input type="text" placeholder="Search for an item" [(ngModel)]="searchTerm" />
    <select (change)="onFilterChange($event)">
      <option value="All">All</option>
      <option value="InStock">In Stock</option>
      <option value="OutOfStock">Out of Stock</option>
    </select>
  </div>

  <div class="nav-right">
    <button class="btn">🛒 Cart Items {{count}}</button>
  </div>
</div>

<div *ngIf="filteredProducts.length === 0" style="text-align:center; padding: 2rem; color: grey;">
  No products match your search/filter.
</div>

<div class="card-wrapper">
  <app-product-card
    *ngFor="let product of filteredProducts"
    [product]="product"
    (addToCart)="onAddToCart($event)">
  </app-product-card>
</div>
