.inp{
    width:50%;
    margin:10px;
    border-radius:3px;
    border-color:black;
    padding:5px;
}
.heading{
    color:black;
    font-size:2rem;
    font-weight:bold;

}
.btn{
    /* background-color: rgb(108, 88, 23); */
    color:black;
    padding:10px;
    margin:3px;
    border-radius:10px;
    border-color:rgb(119, 94, 35);
    width:100px;
}
.table{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
*{
    /* background-color: rgb(186, 148, 64); */
}
.heading{
    justify-content: left;
}